@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Ensure minimum height for the body */
  display: flex;
  flex-direction: column;
  background-color: #392118;
}

main {
  flex: 1; /* Allows the main content to expand and push the footer down */
}
